<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <title>Dashboard</title>
</head>
<body style="
    background-color: #FFFAFA;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
">
    <div style="
        margin: 2%;
        padding: 3%;
        padding-top: 1%;
        border: 1px solid black;
        border-radius: 20px;
    ">  
        <h1>Servers</h1>
        <div style="
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 50px;
        ">
            <div style="
                border-radius: 20px;
                padding: 5%;
                padding-left: 10%;
                padding-right: 10%;
                background-color: white ;
                border: 1px solid black;
            ">  
                <div style="display: flex; align-items: center; justify-content:  space-between;">
                    <h3>127.0.0.1:4000</h3>
                    <div style="
                        height: 15px;
                        width: 15px;
                        border-radius: 20px;
                        background-color: green;
                    "></div>
                </div>
                <div style="display: flex; align-items: center;">
                    <p>CPU</p>
                    <div style="background-color: #D3D3D3; width: 150px; height: 12px; margin-left: 15px;">
                        <div style="width: 67%; background-color: green; height: 12px;"></div>
                    </div>
                    <div style="margin-left: 15px;">
                        67%
                    </div>
                </div>
                <div style="display: flex; align-items: center;">
                    <p>Mem</p>
                    <div style="background-color: #D3D3D3; width: 150px; height: 12px; margin-left: 15px;">
                        <div style="width: 20%; background-color: green; height: 12px;"></div>
                    </div>
                    <div style="margin-left: 15px;">
                        20%
                    </div>
                </div>
                <div style="display: flex; align-items: center;">
                    <p>Disk</p>
                    <div style="background-color: #D3D3D3; width: 150px; height: 12px; margin-left: 15px;">
                        <div style="width: 80%; background-color: green; height: 12px;"></div>
                    </div>
                    <div style="margin-left: 15px;">
                        80%
                    </div>
                </div>
            </div>
            {{ range . }}
                <div style="
                    border-radius: 20px;
                    padding: 5%;
                    padding-left: 10%;
                    padding-right: 10%;
                    background-color: white ;
                    border: 1px solid black;
                ">  
                    <div style="display: flex; align-items: center; justify-content:  space-between;">
                        <h3>{{ .URL.Host }}</h3>
                        {{ if .IsAlive }}
                            <div style="
                                height: 15px;
                                width: 15px;
                                border-radius: 20px;
                                background-color: green;
                            "></div>
                        {{ else }}
                            <div style="
                                height: 15px;
                                width: 15px;
                                border-radius: 20px;
                                background-color: red;
                            "></div>
                        {{ end }}
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p>CPU</p>
                        <div style="background-color: #D3D3D3; width: 150px; height: 12px; margin-left: 15px;">
                            {{ if .IsAlive }}
                                {{ if lt .CpuUsage 80.0 }}
                                    <div style="width: {{.CpuUsage}}%; background-color: green; height: 12px;"></div>
                                {{ else }}
                                    <div style="width: {{.CpuUsage}}%; background-color: red; height: 12px;"></div>
                                {{ end }}
                            {{ else }}
                                <div style="width: {{.CpuUsage}}%; background-color: gray; height: 12px;"></div>
                            {{ end }}
                        </div>
                        <div style="margin-left: 15px;">
                            {{ .CpuUsage }}
                        </div>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p>Mem</p>
                        <div style="background-color: #D3D3D3; width: 150px; height: 12px; margin-left: 15px;">
                            {{ if .IsAlive }}
                                {{ if lt .MemUsage 80.0 }}
                                    <div style="width: {{.MemUsage}}%; background-color: green; height: 12px;"></div>
                                {{ else }}
                                    <div style="width: {{.MemUsage}}%; background-color: red; height: 12px;"></div>
                                {{ end }}
                            {{ else }}
                                <div style="width: {{.MemUsage}}%; background-color: gray; height: 12px;"></div>
                            {{ end }}
                        </div>
                        <div style="margin-left: 15px;">
                            {{ .MemUsage }}
                        </div>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <p>Disk</p>
                        <div style="background-color: #D3D3D3; width: 150px; height: 12px; margin-left: 15px;">
                            {{ if .IsAlive }}
                                {{ if lt .DiskUsage 80.0 }}
                                    <div style="width: {{.DiskUsage}}%; background-color: green; height: 12px;"></div>
                                {{ else }}
                                    <div style="width: {{.DiskUsage}}%; background-color: red; height: 12px;"></div>
                                {{ end }}
                            {{ else }}
                                <div style="width: {{.DiskUsage}}%; background-color: gray; height: 12px;"></div>
                            {{ end }}
                        </div>
                        <div style="margin-left: 15px;">
                            {{.DiskUsage}}
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    <h1 style="margin-left: 2%;">Tasks</h1>
    <div style="margin: 2%;padding: 1%;padding-left: 3%; padding-right: 3%; background-color: white; border-radius: 20px; border: 1px solid black;">
        <h3>127.0.0.1:5000</h3>
        <div style="
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        ">
            <div><b>Subdomain</b></div>
            <div><b>Host Port</b></div>
            <div><b>Running Port</b></div>
            <div><b>Image Name</b></div>
            <div>ayush</div>
            <div>3300</div>
            <div>5000</div>
            <div>deps/node</div>
            <div>amd</div>
            <div>3301</div>
            <div>5000</div>
            <div>deps/python</div>
        </div>
    </div>
    <div style="margin: 2%;padding: 1%;padding-left: 3%; padding-right: 3%; background-color: white; border-radius: 20px; border: 1px solid black;">
        <h3>127.0.0.1:5000</h3>
        <div style="
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        ">
            <div><b>Subdomain</b></div>
            <div><b>Host Port</b></div>
            <div><b>Running Port</b></div>
            <div><b>Image Name</b></div>
            <div>ayush</div>
            <div>3300</div>
            <div>5000</div>
            <div>deps/node</div>
            <div>amd</div>
            <div>3301</div>
            <div>5000</div>
            <div>deps/python</div>
        </div>
    </div>
</body>
</html>